In [0]:
# !pip install -U pandasql

In [0]:
import pandas as pd
import pandasql

###Carregando o arquivo e deletando a coluna que restou da atividade passada:

In [0]:
df = pd.read_csv('df_OVNI_limpo.csv')
del df['Unnamed: 0']

###Dividindo o conteúdo da coluna Date / Time em duas novas colunas no mesmo dataframe.

In [0]:
df_dt = pd.to_datetime(df['Date / Time'])

hr = df_dt.dt.strftime('%H:%M')
dt = df_dt.dt.strftime('%d/%m/%y')
df['Sight_Date'] = dt
df['Sight_Time'] = hr

###Deletando a coluna Date / Time .

In [0]:
del df['Date / Time']

###Criando a coluna com os dias da semana (numeral)

In [104]:
dias_semana = pd.to_datetime(df['Sight_Date']).dt.weekday
df['Sight_Weekday'] = dias_semana

                  City State      Shape Sight_Date Sight_Time  Sight_Weekday
0       East Greenwich    RI       Disk   29/01/97      23:15              2
1            Flagstaff    AZ      Light   26/01/97      22:00              6
2               Marion    WI   Triangle   25/01/97      21:00              5
3                 Alta    UT      Other   24/01/97      19:00              4
4      North Kingstown    RI   Triangle   23/01/97      18:30              3
...                ...   ...        ...        ...        ...            ...
80024     New Rochelle    NY     Sphere   01/12/17      17:00              3
80025            Foyil    OK  Formation   01/12/17      17:00              3
80026       Chesapeake    VA      Light   01/12/17      04:00              3
80027            Boise    ID      Cigar   01/12/17      04:00              3
80028          Wasilla    AK      Flash   01/12/17      01:00              3

[80029 rows x 6 columns]

###Crindo uma lista para substituir os números em texto

In [0]:
dias = {
    0: 'Segunda-Feira',
    1: 'Terça-Feira',
    2: 'Quarta-Feira',
    3: 'Quinta-Feira',
    4: 'Sexta-Feira',
    5: 'Sábado',
    6: 'Domingo'
}

###Substituindo os números pelo texto

In [0]:
dias_col = [dias[i] for i in list(df['Sight_Weekday'])]
df['Sight_Weekday'] = dias_col

###Adicionando as duas novas colunas (Dia e mês)

In [0]:
dia = df_dt.dt.strftime('%d')
mes = df_dt.dt.strftime('%m')
df['Sight_Day'] = dia
df['Sight_Month'] = mes

###salvando o dataframe resultante em um novo arquivo CSV.

In [0]:
df.to_csv('df_OVNI_preparado.csv')